@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-blue-gradiant {
    @apply bg-gradient-to-r from-[#6BA5CF] to-[#389CE3];
  }
}

.tab-button {
  @apply rounded-[5px] border-[1px] px-[10px] py-1 text-[1.9vw] font-semibold leading-normal 2xl:px-[24px] tablet:rounded-[10.4px] tablet:px-[21px] tablet:py-2 laptop:rounded-[20.93px] laptop:px-8 laptop:py-3;
}

.heading {
  @apply text-[12px] font-semibold leading-normal text-[#616161] dark:text-[#D2D2D2] 2xl:text-[30px] tablet:text-[26.9px] laptop:text-[27px];
}

.green-select {
  @apply relative inline-flex h-[10px] w-[25px] shrink-0 cursor-pointer items-center rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus-visible:ring-2 focus-visible:ring-white/75 tablet:h-[20px] tablet:w-[50px];
}

.green-select-shape {
  @apply pointer-events-none inline-block h-4 w-4 transform rounded-full shadow-lg ring-0 transition duration-200 ease-in-out tablet:h-[30px] tablet:w-[30px];
}

.green-select2 {
  @apply relative inline-flex h-[10px] w-[25px] shrink-0 cursor-pointer items-center rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus-visible:ring-2 focus-visible:ring-white/75 tablet:h-[24px] tablet:w-[50px];
}

.green-select2-shape {
  @apply pointer-events-none inline-block h-4 w-4 transform rounded-full shadow-lg ring-0 transition duration-200 ease-in-out tablet:h-[20px] tablet:w-[20px];
}

.blue-submit-button {
  @apply mr-[70px] mt-[60px] w-fit rounded-[23.6px] bg-gradient-to-tr from-[#6BA5CF] to-[#389CE3] px-[60px] py-3 text-[31.5px] font-semibold leading-normal text-white;
}

.quest-topbar {
  @apply rounded-[4.619px] px-[6.77px] py-[4.311px] text-[9.237px] font-semibold leading-normal tablet:rounded-[9.675px] tablet:px-[14.19px] tablet:py-[9.03px] tablet:text-[19.35px] laptop:rounded-[15px] laptop:px-[22px] laptop:py-[14px] laptop:text-[30px];
}

.pagination-btn {
  @apply mr-[0.46rem] flex h-[0.9rem] w-[0.9rem] items-center justify-center rounded-[0.15rem] border border-solid border-[#EEEEEE] bg-[#F5F5F5] dark:bg-[#A5A5A5] tablet:mr-4 tablet:h-7 tablet:w-[27px] tablet:rounded-md;
}

.dragIconWrapper {
  @apply mb-[0.5px] flex h-[25.19px] w-[19px] items-center justify-center rounded-l-[5.387px] bg-[#DEE6F7] py-[6.84px] dark:bg-[#9E9E9E] tablet:h-[49.4px] tablet:w-[28px] tablet:rounded-l-[10px] tablet:px-[7px] tablet:pb-[13px] tablet:pt-[14px] laptop:h-[74px] laptop:w-[43px];
}

.kqFNyH {
  font-size: 14px !important;
  line-height: 1.5;
}

body {
  font-family: "Inter", sans-serif;
}

.transform-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-shadow {
  background: #06070a;
  box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.15) inset;
}

iframe {
  width: 302px !important;
  height: 77px !important;
  border-radius: 4px;
}

#green-checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 40px;
  height: 38px;
  background: white;
  border-radius: 3.5px;
  border: 1px solid #fff;
  cursor: pointer;
  margin: 0;
  position: relative;
  outline: none;
  border: 1px solid #0fb063;
}

#green-checkbox input[type="checkbox"]:focus-within {
  outline: none;
}

#green-checkbox input[type="checkbox"]::after {
  content: url("/public/assets/svgs/checkmark.svg");
  left: 0px;
  top: 0px;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}

#green-checkbox input[type="checkbox"]:checked::after {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0fb063;
}

.shadow-inside {
  box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.dark-shadow-inside {
  /* border-radius: 45px; */
  /* border: 2px solid #858585; */
  background: #141618;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25) inset;
}

.dark-shadow-input {
  border-radius: 10.11px;
  background: #0d1012;
  box-shadow: 0px 0px 9.167px 0px rgba(0, 0, 0, 0.15) inset;
}

.dark-shadow-inside-tab {
  border-radius: 11.728px;
  background: #141618;
  box-shadow: 0px 0px 1.564px 0px rgba(0, 0, 0, 0.25) inset;
}

.dark-shadow-inside-custom {
  background: #141618;
  box-shadow: 0px 0px 1.564px 0px rgba(0, 0, 0, 0.25) inset;
}

.goZmTm {
  display: flex !important;
  justify-content: space-between !important;
}

.custom-inset-shadow {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25) inset;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #4a8dbd !important;
  border: 2px solid #5932ea !important;
}

#custom-checkbox .checkbox {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: 1px solid #0fb063;
  cursor: pointer;
  margin: 0;
  position: relative;
  outline: none;
}

#custom-checkbox .checkbox:focus-within {
  outline: none;
}

#custom-checkbox .checkbox:checked {
  background: #0fb063;
}

#custom-checkbox .checkbox::after {
  content: url("/public/assets/svgs/checkmark-small.svg");
  display: none;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 744px) {
  #custom-checkbox .checkbox::after {
    content: url("/public/assets/svgs/checkmark-tablet.svg");
    display: none;
    width: 100%;
    height: 100%;
  }
}

#custom-checkbox .checkbox:checked::after {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
}

#custom-yello-checkbox .checkbox {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: 1px solid #ffd600;
  cursor: pointer;
  margin: 0;
  position: relative;
  outline: none;
}

#custom-yello-checkbox .checkbox:focus-within {
  outline: none;
}

#custom-yello-checkbox .checkbox:checked {
  background: #ffd600;
}

#custom-yello-checkbox .checkbox::after {
  content: url("/public/assets/svgs/exclamation-mark.svg");
  display: none;
  width: 100%;
  height: 100%;
}

.Mui-checked {
  color: #0fb063 !important;
}

#custom-yello-checkbox .checkbox:checked::after {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
}

#dragIcon > div {
  position: relative;
  height: 23.19px;
  display: flex;
}

.non-active-radio {
  width: 16px !important;
  height: 16px !important;
}

@media only screen and (min-width: 744px) {
  #custom-yello-checkbox .checkbox::after {
    content: url("/public/assets/svgs/exclamation-tablet.svg");
    display: none;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 744px) {
  #dragIcon > div {
    position: relative;
    height: 45px;
    display: flex;
  }

  .okayContainer {
    height: 47px !important;
  }
}

@media (min-width: 1280px) {
  #dragIcon > div {
    position: relative;
    height: 74px;
    display: flex;
  }
}

#dragIcon2 > div {
  position: relative;
  height: 21px;
}

@media (min-width: 744px) {
  #dragIcon2 > div {
    position: relative;
    height: 45px;
  }
}

@media (max-width: 744px) {
  .MuiFormControlLabel-labelPlacementEnd > span:last-child {
    font-size: 10px;
    white-space: nowrap;
    margin-top: 1.5px;
  }

  .MuiSvgIcon-root {
    width: 11px !important;
  }
}

.ledger-dark {
  background: #141618;
  box-shadow: 0px 0px 8.69px 0px rgba(0, 0, 0, 0.25) inset;
}

.ledger-light {
  box-shadow: 0px 0px 8.689655303955078px 0px #00000040 inset;
}


table,
.divTable {
  /* border: 1px solid lightgray; */
  /* width: fit-content; */
}

.tr {
  display: flex;
}

tr,
.tr {
  width: fit-content;
  /* height: 30px; */
}

th,
.th,
td,
.td {
  /* box-shadow: inset 0 0 0 1px lightgray; */
  padding: 0.25rem;
}

th,
.th {
  /* padding: 2px 4px; */
  position: relative;
  /* font-weight: bold;
  text-align: center;
  height: 30px; */
}

td,
.td {
  /* height: 30px; */
}


.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: gray;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  border-radius: 6px;
}

.resizer.isResizing {
  background: #399ce2;
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}
