@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-blue-gradiant {
    @apply bg-gradient-to-r from-[#6BA5CF] to-[#389CE3];
  }
}

.heading {
  @apply text-[24px] font-semibold leading-normal text-[#616161] dark:text-[#D2D2D2] 2xl:text-[30px];
}

.green-select {
  @apply relative inline-flex h-[10px] w-[25px] shrink-0 cursor-pointer items-center rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus-visible:ring-2 focus-visible:ring-white/75 tablet:h-[20px] tablet:w-[50px];
}

.green-select-shape {
  @apply pointer-events-none inline-block h-4 w-4 transform rounded-full shadow-lg ring-0 transition duration-200 ease-in-out tablet:h-[30px] tablet:w-[30px];
}

.blue-submit-button {
  @apply mr-[70px] mt-[60px] w-fit rounded-[23.6px] bg-gradient-to-tr from-[#6BA5CF] to-[#389CE3] px-[60px] py-3 text-[31.5px] font-semibold leading-normal text-white;
}

.quest-topbar {
  @apply rounded-[4.619px] px-[6.77px] py-[4.311px] text-[9.237px] font-semibold leading-normal tablet:rounded-[9.675px] tablet:px-[14.19px] tablet:py-[9.03px] tablet:text-[19.35px] xl:rounded-[15px] xl:px-[22px] xl:py-[14px] xl:text-[30px];
}

body {
  font-family: "Inter", sans-serif;
}

.transform-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-shadow {
  background: #06070a;
  box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.15) inset;
}

iframe {
  width: 302px !important;
  height: 77px !important;
  border-radius: 4px;
}

#green-checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 40px;
  height: 38px;
  background: white;
  border-radius: 3.5px;
  border: 1px solid #fff;
  cursor: pointer;
  margin: 0;
  position: relative;
  outline: none;
  border: 1px solid #0fb063;
}

#green-checkbox input[type="checkbox"]:focus-within {
  outline: none;
}

#green-checkbox input[type="checkbox"]::after {
  content: url("/public/assets/svgs/checkmark.svg");
  left: 0px;
  top: 0px;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}

#green-checkbox input[type="checkbox"]:checked::after {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0fb063;
}

.shadow-inside {
  box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.goZmTm {
  display: flex !important;
  justify-content: space-between !important;
}

.custom-inset-shadow {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25) inset;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #4a8dbd !important;
  border: 2px solid #5932ea !important;
}

#custom-checkbox .checkbox {
  appearance: none;
  -webkit-appearance: none;
  /* width: 20px;
  height: 20px; */
  background: white;
  /* border-radius: 3.5px; */
  border: 1px solid #0fb063;
  cursor: pointer;
  margin: 0;
  position: relative;
  outline: none;
}

#custom-checkbox .checkbox:focus-within {
  outline: none;
}

#custom-checkbox .checkbox:checked {
  background: #0fb063;
}

#custom-checkbox .checkbox::after {
  content: url("/public/assets/svgs/checkmark-small.svg");
  left: 0;
  top: 0;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}

#custom-checkbox .checkbox:checked::after {
  display: flex;
  align-items: center;
  justify-content: center;
}

#custom-yello-checkbox .checkbox {
  appearance: none;
  -webkit-appearance: none;
  /* width: 20px;
  height: 20px; */
  background: white;
  border-radius: 3.5px;
  border: 1px solid #ffd600;
  cursor: pointer;
  margin: 0;
  position: relative;
  outline: none;
}

#custom-yello-checkbox .checkbox:focus-within {
  outline: none;
}

#custom-yello-checkbox .checkbox:checked {
  background: #ffd600;
}

#custom-yello-checkbox .checkbox::after {
  content: url("/public/assets/svgs/exclamation-mark.svg");
  left: 0;
  top: 0;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}

#custom-yello-checkbox .checkbox:checked::after {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dragIcon > div {
  position: relative;
  height: 23.19px;
  display: flex;
}

@media (min-width: 744px) {
  #dragIcon > div {
    position: relative;
    height: 45px;
    display: flex;
  }
  .okayContainer {
    height: 47px !important;
    /* margin-top: 14px; */
  }
}

@media (min-width: 1280px) {
  #dragIcon > div {
    position: relative;
    height: 74px;
    display: flex;
  }
}

#dragIcon2 > div {
  position: relative;
  height: 21px;
}

@media (min-width: 744px) {
  #dragIcon2 > div {
    position: relative;
    height: 45px;
  }
}

/* @media (min-width: 744px) and (max-width: 1279px) {
  .sixDotsRankedCOntainer {
    position: relative;
    top:-17.5px;
  }
} */