@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-blue-gradiant {
    @apply bg-gradient-to-r from-[#6BA5CF] to-[#389CE3];
  }
}

.heading {
  @apply text-[24px] 2xl:text-[30px] font-semibold leading-normal text-[#616161] dark:text-[#D2D2D2];
}

body {
  font-family: 'Inter', sans-serif;
}

.transform-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-shadow {
  background: #06070a;
  box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.15) inset;
}

iframe {
  width: 302px !important;
  height: 77px !important;
  border-radius: 4px;
}

#green-checkbox input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 3.5px;
  border: 1px solid #fff;
  cursor: pointer;
  margin: 0;
  position: relative;
  outline: none;
  border: 1px solid #0fb063;
}

#green-checkbox input[type='checkbox']:focus-within {
  outline: none;
}

#green-checkbox input[type='checkbox']::after {
  content: url('/public/assets/svgs/checkmark.svg');
  left: 0px;
  top: 0px;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}

#green-checkbox input[type='checkbox']:checked::after {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0fb063;
}

.shadow-inside {
  box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.goZmTm {
  display: flex !important;
  justify-content: space-between !important;
}

.custom-inset-shadow {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25) inset;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #4a8dbd !important;
  border: 2px solid #5932ea !important;
}
